<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
    </style>
</head>
<link rel="stylesheet" th:href="@{/static/css/main.css}"/>
<script th:src="@{/static/js/jquery-1.8.2.min.js}"></script>
<body>

<!--管理员 显示帖子页面-->
<!--<span th:text="${boardid}"></span>-->
<div>
    <div>
        <form th:action="@{/search}">
            <input type="text" placeholder="搜索" name="content" class="search-ipt">
            <input type="submit" value="搜索" class="search_btn">
        </form>

    </div>
<table th:border="1" th:if="${bbspage}">
    <tr>
        <th>标题</th>
        <th>作者</th>
        <th>回复/查看</th>
        <th>发表日期</th>
        <th>操作</th>
    </tr>
    <div  th:if="${bbspage}">
    <tr th:each="bbs:${bbspage.list}">
        <td>
            <a th:href="@{'/article/'+${bbs.boardid}+'/'+${bbs.bbsid}}" th:text="${bbs.bbstitle}"></a>
        </td>
        <td th:text="${bbs.username}"></td>
        <td th:text="${bbs.child +'/'+bbs.bbsclick}"></td>

        <td th:text="${bbs.dateandtime}"></td>
        <td>
            <a th:href="@{'/updateBbs/'+${bbs.boardid}+'/'+${bbs.bbsid}}" th:text="修改"></a>
            <a th:href="@{'/deleteBbs/'+${bbs.boardid}+'/'+${bbs.bbsid}}" onclick="deleteBbs()" th:text="删除"></a>
        </td>
    </tr>
    <tr>
        <td colspan="5" >
              <span th:if="${bbspage.hasPreviousPage}">
                  <a th:href="@{'/showBbs/'+${boardid}+'/'+${bbspage.prePage}}">&lt;上一页</a>
              </span>
            <span th:if="${!bbspage.hasPreviousPage}">
                  <a href="#">&lt;上一页</a>
              </span>
            <span th:each="num:${bbspage.navigatepageNums}">
                  <a th:if="${bbspage.pageNum==num}" th:href="@{'/showBbs/'+${boardid}+${num}}" th:text="'['+${num}+']'" style="color:red;"></a>
                  <a th:if="${bbspage.pageNum!=num}" th:href="@{'/showBbs/'+${boardid}+${num}}" th:text="${num}"></a>
              </span>
            <span th:if="${bbspage.hasNextPage}">
                  <a th:href="@{'/showBbs/'+${boardid}+'/'++${bbspage.nextPage}}">下一页&gt;</a>
              </span>
            <span th:if="${!bbspage.hasNextPage}">
                  <a href="#">下一页&gt;</a>
              </span>

        </td>
    </tr>
    </div>
    <form method="post" id="delete_bbs">
        <input type="hidden" name="_method" value="delete">
    </form>
</table>
<div>
<h1>添加文章</h1>
<form th:action="@{'/addBbs/'+${boardid}}" method="post" id="addBbsForm">
    <div>
        <h1>标题</h1>
        <input type="text" name="bbstitle">
    </div>
    <div>
        <h1>内容</h1>
        <textarea name="bbscontent" cols="60" rows="30"></textarea>
    </div>
    <input type="hidden" th:value="${session.user.username}" name="username"><br>
    <input type="hidden" th:value="${session.user.usermail}" name="expression"><br>
    <input type="submit" value="发表帖子" id="btn"><br>

</form>
</div>
</div>
<script type="text/javascript">
    function deleteBbs(){
        var form=document.getElementById("delete_bbs");
        //event.target表示当前触发事件的标签
        form.action=event.target.href;
        form.submit();
        event.preventDefault();
    }

    // function addBbs(){
    //     $.ajax({
    //         url:$('#addBbsForm').attr('action'),
    //         type:'post',
    //         data:$('#addBbsForm').serialize(),
    //         success:function(){
    //             $('#addBbsForm').trigger('reset');
    //             alert('添加文章成功');
    //         },
    //         error:function(){
    //             alert('添加文章失败');
    //         }
    //     })
    // }


</script>
</body>
</html>