body{
    font-family: "tahoma", "tahoma2", -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
a{
    text-decoration:none ;
    color: inherit;
    target:"right";
}
table{
    border-collapse:collapse;
    border-spacing:0;
    border-color:white;
    width:100%;
}
td{
    text-algin:center;
    padding: 0 15px;
}
ul{
    list-style: none;
    padding:0px;

}
/*搜索框*/
.search-ipt{
    margin: 10px 0;
    padding: 0 0 0 10px;
    height: 28px;
    line-height: 28px;
    width: 338px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline:none;
}
.search_btn{
    color:#e97c62;
    padding: 5px 8px;
    font-size: 11px;
    border-radius: 3px;
    border:none;
    position:relative;
    left:-47px;
    background:#ffffff;
    cursor:pointer;
}